{% extends "index.html" %}
{% load staticfiles %}
{% block faqpage %}
<div id="wrapper-about">
<div class="note taupe rounded" id="first">
<h2 class="about-page">About MusicGuru</h2>
    <h4>Behold human! your prayers have been answered. Get your information about top artists and songs from around the world in one place. Spread the music and keep Moonwalking! </h4>
</div>
<div class="note red rounded" id="first">
<h2 class="about-page">Who made this site?</h2>
    <h4>All rights to this website are reserved under the name of Saket Mishra. The website is supported by Django </h4>
</div>
<div class="note blue rounded" id="first">
<h2 class="about-page">How was the list for top artists created?</h2>
    <h4>The list was created from Rolling Stone's list of top 50 albums and artists of the year.</h4>
</div>
<div class="note brown rounded" id="first">
<h2 class="about-page">I found something here that I think is offensive.Who do I contact?</h2>
    <h4>Really? you found something offensive here! okay contact us and we'll look into it.</h4>
</div>





{% endblock %}