{% extends "index.html" %}
{% load staticfiles %}
{% block feed %}
<div class="wrapper">
 <div class="form-group">
      <h2>Talk To Us!</h2>
      <form action="/feedback/" method="post">
        {% csrf_token %}
        <h3>Tell Us Who You Are :</h3></br>
        <input type="text" class="form-control" placeholder="Name" name="name"></br>
        <input type="text" class="form-control" placeholder="Email" name="email"></br>
        <h3>Your message :</h3></br>
        <textarea class="form-control" rows="5" name="message"></textarea></br>
        <button class="btn btn-success" type="submit">Submit</button>
      </form>
    </div>

    {% if tags %}
      {% if success %}
        <div class="alert alert-success" role="alert"><strong>Thanks!</strong>You successfully posted your feedback.</div>
      {% else %}
        {% if valid %}
          <div class="alert alert-danger" role="alert"><strong>Oh snap!</strong>Invalid submission, please try again.</div>
        {% else %}
          <div class="alert alert-danger" role="alert"><strong>Oh snap!</strong>Invalid email, please try submitting again.</div>
        {% endif %}
      {% endif %}
    {% endif %}
{% endblock %}