{% load staticfiles %}

<nav class="navbar navbar-inverse navbar-fixed-top" data-tap-toggle="false" role="navigation">
		<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://musicguru.herokuapp.com/"><img src="{% static "img/logo3.jpg" %}" id="InSeek" alt="Musical Guru"/></a>
	  
    </div>
	
	
	
	<!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav" id="menu">
	  <li><a href="#" class="drop">ROCK</a><!-- Begin 3 columns Item -->
     
        <div class="dropdown_3columns"><!-- Begin 3 columns container -->
         
            <div class="col_1">
			
                    <a href="/genres/1/"><h2>CLASSIC ROCK</h2></a>
					<hr/>
                   <a href="/genres/2/"><h2>METAL</h2></a>
					<hr/>
                    <a href="/genres/3/"><h2>FOLK ROCK</h2></a>
					 <hr/>
					 <a href="/genres/4/"><h2>ALTERNATIVE ROCK</h2></a>
					
					
					
			</div>             
            
			
            
            <div class="col_2 rightside">
			
			
              <a href="/trending/1/"><img src="http://img.youtube.com/vi/VHrLPs3_1Fs/mqdefault.jpg" width="120" height="83" class="img_left imgshadow" alt=""></a>
			  <p>George Ezra  Budapest(Wanted On Voyage)</p>
				
				<a href="/trending/2/"><img src="http://img.youtube.com/vi/2VTxYQL2SbA/mqdefault.jpg" width="120" height="83" class="img_left imgshadow" alt=""></a>
                <p>Fall Out Boy  Uma Thurman(American Beauty)</p>
				
				
				<a href="/trending/3/"><img src="http://img.youtube.com/vi/MYSVMgRr6pw/mqdefault.jpg" width="120" height="83" class="img_left imgshadow" alt=""></a>
                <p>Hozier  Take Me To Church(Hozier)</p>
				
               <a href="/trending/4/"><img src="http://img.youtube.com/vi/dW6SkvErFEE/mqdefault.jpg" width="120" height="83" class="img_left imgshadow" alt=""></a>
                <p>Mumfard And Sons Believe(Wilder Mind)</p>
				
			
			</div>
				
				
            
			
        </div><!-- End 3 columns container -->
         
    </li><!-- End 3 columns Item -->
		<li class="divider"></li>
        <li><a href="#" class="drop">HIP-HOP</a><!-- Begin 3 columns Item -->
     
        <div class="dropdown_3columns"><!-- Begin 3 columns container -->
         
            <div class="col_1">
			
                   <a href="/genres/11/"><h2>R&B</h2></a>
					<hr/>
                   <a href="/genres/6/"><h2>RAP</h2></a>
					<hr/>
                    <a href="/genres/7/"><h2>POP</h2></a>
					 
                    
					
                    
					
				
                 
			</div>             
            
            <div class="col_2 rightside">
			
              <a href="/trending/5/"><img src="http://img.youtube.com/vi/i_kF4zLNKio/mqdefault.jpg" width="126" height="83" class="img_left imgshadow" alt=""></a>
                <p>Fetty Wap  Trap Queen (Trap Queen)</p>
				
				<a href="/trending/6/"><img src="http://img.youtube.com/vi/E5R0aov2M28/mqdefault.jpg" width="126" height="83" class="img_left imgshadow" alt=""></a>
                <p>Silento  Watch Me (Watch Me)</p>
				
				<a href="/trending/7/"><img src="http://img.youtube.com/vi/aPxVSCfoYnU/mqdefault.jpg" width="126" height="83" class="img_left imgshadow" alt=""></a>
                <p>Omarion Ft. Chris Brown & Jhene Aiko Post To Be</p>
				
               <a href="/trending/8/"><img src="http://img.youtube.com/vi/waU75jdUnYw/mqdefault.jpg" width="126" height="83" class="img_left imgshadow" alt=""></a>
                <p>The Weeknd Earned It (Fifty Shades Of Grey)</p>
				
			
			</div>	
				
            
			
        </div><!-- End 3 columns container -->
         
    </li><!-- End 3 columns Item -->
		<li class="divider"></li>
		
		<li><a href="#" class="drop">DANCE</a><!-- Begin 3 columns Item -->
     
        <div class="dropdown_3columa"><!-- Begin 3 columns container -->
         
            <div class="col_1">
			
                    <a href="/genres/8/"><h2>DANCE</h2></a>
					<hr/>
                    <a href="/genres/10/"><h2>TRANCE</h2></a>
					 
					
				
                 
			</div>             
            
            <div class="col_2 rightside">
			
              <a href="/trending/9/"><img src="http://img.youtube.com/vi/uO59tfQ2TbA/mqdefault.jpg" width="126" height="83" class="img_left imgshadow" alt=""></a>
                <p>David Guetta Featuring Nicki Minaj, Bebe Rexha & Afrojack Hey Mama</p>
				
				<a href="/trending/10/"><img src="http://img.youtube.com/vi/aBn7bjy9c4U/mqdefault.jpg" width="126" height="83" class="img_left imgshadow" alt=""></a>
                <p>DJ Snake & AlunaGeorge You Know You Like It</p>
				
				<a href="/trending/11/"><img src="http://img.youtube.com/vi/YKS1xjqEv8o/mqdefault.jpg" width="126" height="83" class="img_left imgshadow" alt=""></a>
                <p>Skrillex & Diplo Featuring Justin Bieber Where Are You Now</p>
				
              <a href="/trending/12/"><img src="http://img.youtube.com/vi/YqeW9_5kURI/mqdefault.jpg" width="126" height="83" class="img_left imgshadow" alt=""></a>
                <p>Major Lazer & DJ Snake Featuring M0 Lean On </p>
				
			
			</div>	
				
            
			
        </div><!-- End 3 columns container -->
         
    </li><!-- End 3 columns Item -->
		
		<li><a href="#" class="drop">ABOUT</a><!-- Begin 3 columns Item -->
     
        <div class="dropdown_1column"><!-- Begin 3 columns container -->
         
            <div class="col_1">
			
                    <a href="{% url 'feature:about' %}"><h2>ABOUT</h2></a>
					<hr>
                    <a href="{% url 'feature:faq' %}"><h2>FAQ</h2></a>
					<hr>
                    <a href="{% url 'feature:contact' %}"><h2>CONTACT</h2></a>
					<hr>
                   
					
			</div>
		</div>
	</li><li>

</li></ul>
      
      
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>